---
import { skillsContent } from "../data/data.json";
import SectionTitle from "./SectionTitle.astro";
import Animat from "./Animat.astro";
---

 <section id="skills" itemscope itemtype="https://schema.org/ItemList">
    <ul class="main-skill-list" >

    {
      skillsContent.skills.map((skill, index) => (
        <Animat  class="main-skill-item" delay={2*index + "00"} animationName="fadeIn-from-left" >
<li class="p-skill" >          <img class="icon" src={skill.icon} alt={`logos of ${skill.title}`} />
          <h3 itemprop="itemListElement" class="title" >{skill.title}</h3>
          <ul >
            {skill.items.map((item) => (
              <li itemprop="name">{item}</li>
            ))}
          </ul>
        </li>
        </Animat>
      ))
    }
  </ul>
  <SectionTitle
    text="Projects"
    color="var(--green-color)"
    hrefLink="#projects"
    position="center"
  />
</section>

<style>
  #skills {
    position: relative;
  }
  .main-skill-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-items: center;
    gap: 3rem 10%;
    font-size: 1.2rem;
  }
  .main-skill-item {
    list-style-type: none;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: linear-gradient(#12181b, #12181b) padding-box,
      linear-gradient(to right, #f55, #88f) border-box;
    border-radius: 0.5rem;
    border: 4px solid transparent;
    position: relative;
    min-width: 50%;
  }
  .p-skill {
    border: 4px solid;
    border-image: linear-gradient(90deg, #f55, #88f, #0fa, #ff0, #f55) 1;
    background-clip: padding-box;
    box-shadow: 0 0 12px 2px rgba(255,255,255,0.08);
    background-color: rgba(34,34,34,0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .main-skill-item ul {
    list-style-type: none;
    padding-left: 0;
  }
  .main-skill-item li {
    list-style-type: none;
  }
  .icon {
    width: 3rem;
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem; /* Add vertical space under the image */
  }
  .title {
    margin: 0.5rem 0 0.5rem 0;
    border-bottom: 1px solid #fff5;
  }

  /* --------------------------------------------------------------------          Responsive         ------------------------------------------------------------------ */

  /* Responsive styles */
  @media (max-width: 576px) {
    .main-skill-list {
      grid-template-columns: 1fr;
    }
    .main-skill-item{
      margin: 0  2rem 0 0;
      width: 80%;
    }
  }

  @media (min-width: 577px) and (max-width: 768px) {
    .main-skill-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2rem;
    }
     .main-skill-item{
      margin: 0  2rem 0 0;
      width: 80%;
    }
  }

</style>
